body {
	background-color: #EFEFEF;
	text-align: center;
	font-family: Arial;
	margin-top: 30px;
	font-size: 18px;
}

h1 {
	font-size: 100px;
	margin-bottom: 0;
	padding-bottom: 0;
}

h3 {
	margin-top: 0;
}

blockquote {
	color: #666;
}
