<html>
<head>
 <title>{{ site.title }} - {{ page.title }}</title>
 <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
 <link rel="stylesheet" type="text/css" href="/style.css"/>
 <link rel="stylesheet" type="text/css" href="/hl.css"/>
</head>
<body>
 <h1>Clever<img src="/logo.jpg"/></h1>
 <h3>programming language</h3>
 <blockquote class="gray">
  <strong>Clever</strong> is a general purpose statically typed, multi-paradigm (object-oriented, generic, imperative)<br/>
  programming language written in C++. It aims to have a small footprint and supply<br/>
  an useful set of features, many seen in other languages.
 </blockquote>
