<html>
<head>
 <title>{{ site.title }} - {{ page.title }}</title>
 <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
 <link rel="stylesheet" type="text/css" href="/style.css"/>
 <link rel="stylesheet" type="text/css" href="/hl.css"/>
</head>
<body>
 <h1>Clever<img src="/logo.jpg"/></h1>
 <h3>programming language</h3>
 <blockquote class="gray">
  Clever is a general purpose static programming language, written in C++, that aims to be small</br>
  but supplying an useful set of features (usually known from other programming languages).
 </blockquote>
